body{
  background-color: black;
}
#container{
  width: 730px;
  margin: auto;
  background-color: black;
}

.heading{
  text-align: center;
  color: blue;
}

.box{
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  background: blue;
  vertical-align: top;
  text-align: center;
  background-size: cover;
  padding: 10px;
}